/* Reset some default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Apply some basic styles */
body{
  font-famiy: Arial, sans-sarif;
  background-color: #f2f2f2;
  color: #333;
}

header{
  background-color: #333;
  padding: 20px;
}

hl {
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}

